# Dependencies
node_modules/
.pnpm-store/

# Production builds & dist outputs
dist/
dist-electron/
release/
build/

# Logs & temp files
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Environment & local settings
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDE & Editor files
.vscode/*
!.vscode/extensions.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS temp files
.DS_Store
Thumbs.db

# Executables & large binaries (use GitHub Releases instead)
*.exe
*.zip
*.asar
~$*
*.tmp
